@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.top_navbar {
  background: #ff6d6d;
  height: 60px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
}

.top_navbar .hamburger {
  width: 80px;
  background: #4d0000;
  position: relative;
  font-size: 28px;
}

.top_navbar .hamburger .hamburger__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 40px;
  height: 20px;
}

.top_navbar .hamburger__inner>div {
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.top_navbar .hamburger div.two {
  top: 10px;
  width: 40px;
}

.top_navbar .hamburger div.three {
  top: 20px;
}

.top_navbar .menu {
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top_navbar .menu .logo {
  color: #4d0000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.top_navbar .menu .right_menu ul {
  display: flex;
}

.top_navbar .menu .right_menu ul li {
  position: relative;
}

.top_navbar .menu .right_menu ul li .fas {
  font-size: 22px;
  cursor: pointer;
  color: #4d0000;
}

.top_navbar .menu .right_menu ul li .profile_dd {
  position: absolute;
  top: 35px;
  right: -10px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  width: 180px;
  border-radius: 3px;
  display: none;
  user-select: none;
}

.top_navbar .menu .right_menu ul li .profile_dd.active {
  display: block;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item {
  padding: 10px;
  cursor: pointer;
  color: #4d0000;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item:hover {
  background: #E0F2F1;
}

.top_navbar .menu .right_menu ul li .profile_dd:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 10px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.main_container .sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 225px;
  height: 100%;
  background: #4d0000;
  transition: all 0.3s ease;
}

.main_container .sidebar .sidebar__inner {
  position: relative;
}

.main_container .sidebar .profile {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.main_container .sidebar .profile .img {
  padding: 0 18px;
}

.main_container .sidebar .profile img {
  width: 45px;
}

.main_container .sidebar .profile p:first-child {
  font-size: 14px;
  color: #cb809e;
  margin-bottom: 3px;
}

.main_container .container {
  margin-top: 60px;
  width: calc(100% - 225px);
  margin-left: 225px;
  padding: 30px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a {
  color: #fff;
  font-size: 18px;
  padding: 20px 30px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a .icon {
  margin-right: 15px;
  font-size: 28px;
}

.main_container .sidebar ul li a span {
  display: inline-block;
}

.main_container .sidebar ul li a:hover,
.main_container .sidebar ul li a.active {
  background: #fff;
  color: #4d0000;
}

.main_container .container .item {
  background: #fff;
  border: 1px solid #E0F2F1;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
}

/* after adding active class */
.wrapper.active .sidebar {
  width: 80px;
}

.wrapper.active .sidebar ul li a span.title,
.wrapper.active .profile_info {
  display: none;
}

.wrapper.active .main_container .container {
  width: calc(100% - 80px);
  margin-left: 80px;
}



button[type="submit"] {
  background-color: #af4c4c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}






/* warna background scrollbar */
::-webkit-scrollbar {
  background-color: #ff8787;
  width: 10px;
}

/* warna thumb scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #fffafd;
  border-radius: 15px;
}



/*isi*/


main {
  margin: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.riwayat-kesehatan {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.riwayat-kesehatan label {
  margin-right: 10px;
}

.riwayat-kesehatan input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

.riwayat-kesehatan button {
  background-color: #9a9191;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.janji-dokter button{
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.alat-cek-resiko {
  display: flex;
  flex-wrap: wrap;
}

.alat-cek-resiko label {
  margin-right: 10px;
}

.alat-cek-resiko input[type="number"] {
  margin-right: 10px;
}

.alat-cek-resiko button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deteksi-kesehatan ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.deteksi-kesehatan li {
  margin-right: 10px;
}

.deteksi-kesehatan a {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.deteksi-kesehatan a:hover {
  background-color: #fff;
  color: #333;
}

.aktivitas label {
  margin-right: 10px;
}

.aktivitas input[type="number"] {
  margin-right: 10px;
}

.denyut-jantung label {
  margin-right: 10px;
}

.denyut-jantung input[type="number"] {
  margin-right: 10px;
}

.denyut-jantung select {
  margin-right: 10px;
}

.denyut-jantung button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tinggi-berat label {
  margin-right: 10px;
}

.tinggi-berat input[type="number"] {
  margin-right: 10px;
}

.tinggi-berat button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {


  main {
    margin: 20px 10px;
  }

  .riwayat-kesehatan {
    flex-direction: column;
  }

  .riwayat-kesehatan input[type="text"] {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .alat-cek-resiko {
    flex-direction: column;
  }

  .alat-cek-resiko input[type="number"] {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .deteksi-kesehatan ul {
    flex-direction: column;
  }

  .deteksi-kesehatan li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .aktivitas input[type="number"],
  .denyut-jantung input[type="number"],
  .tinggi-berat input[type="number"] {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .denyut-jantung select {
    margin-right: 0;
    margin-bottom: 10px;
  }


  .riwayat-kesehatan label,
  .riwayat-kesehatan input[type="text"],
  .riwayat-kesehatan button,
  .alat-cek-resiko label,
  .alat-cek-resiko input[type="number"],
  .alat-cek-resiko button,
  .deteksi-kesehatan a,
  .aktivitas label,
  .aktivitas input[type="number"],
  .denyut-jantung label,
  .denyut-jantung input[type="number"],
  .denyut-jantung select,
  .denyut-jantung button,
  .tinggi-berat label,
  .tinggi-berat input[type="number"],
  .tinggi-berat button {
    margin-right: 0;
  }

}