/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
    ;
}


/* ===== Colours ===== */
:root {
    --body-color: pink;
    --nav-color: #f963a9;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body {
    height: 100vh;
    background-color: var(--body-color);
}


body.dark {
    --body-color: #18191A;
    --nav-color: #4f4f50;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav {
    border: 1px solid #393838;

}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox {
    position: relative;
}

.searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active~.search-field {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input {
    color: var(--text-color);
}

.search-field i {
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i {
    color: var(--text-color);
}











/* warna background scrollbar */
::-webkit-scrollbar {
    background-color: #ff8787;
    width: 10px;
}

/* warna thumb scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #fffafd;
    border-radius: 15px;
}





.wrapper{
    width: 250px;
    margin: 5% auto;
    background: #272727;
    border-radius: 25px;
}

.sigle-price{
    width: 100%;
    background-color:#262626;
    margin-top: 2% ;
    box-shadow:  1px 1px 20px rgba(0, 0, 0, 0.5);
    transition: 0.9s;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #da4357;
    margin: 5% auto 0 auto;
    text-align: center;
}

.deals h4{
    margin-top: 10%;

}

.single-price h1{
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 3;
    text-transform: uppercase;
}

.price img{
    width: 60%;
    border-radius: 30%;
}

.deals h4{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    line-height: 1;
    margin-top: 10px;
}


.deals h3{
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 3;
    text-transform: uppercase;
}
.wrapper:hover{
    background: #da4357;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    transform: scale(1.1);
    z-index: 1;
    border-radius: 25px;
}

.single-price:hover .price{
    border-color: #fff;
}

.single-price a{
    text-decoration: none;
    background: #da4357;
    color: #fff;
    padding: 10px 60px;
    display: inline-block;
    margin: 5% auto;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-top: 5px;
    margin-left: 40px;
}

.single-price:hover a{
    background: #262626;
    color: #fff;
}

.box{
    display: flex;
    margin-top: 200px;
}

.tittle{
    margin-top: 25px;
    margin-bottom: px;
    position: absolute;
    bottom: 0;
    left: 33%;
    top: 15%;
    text-align: center;
    color: #da4357;
}



.location-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  label {
    margin-right: 8px;
    margin-left: 10px;
  }
  
  select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }



  
  
/*BACK*/

.back-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .back-btn {
    background-color: #ff0095;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
/*footer*/
footer {
    background-color: #fcdfdf;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
  }
    