.container {
    position: absolute;
    top: 170px;
    display: flex;
    flex-direction: row;
}

.judul {
    text-align: center;
    /* membuat text berada di tengah */
    margin-top: 100px;
    /* memberikan jarak antara judul dengan element di atasnya */
    color: #e14b4b;
}


.obat {
    display: flex;
}

.box {
    width: 70px;
    height: 70px;
    background-color: #fba3a3;
    border: 1px solid #b92b2b;
    color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    padding: 0px;
    margin: 5px;
}

.item {
    background: #ffd6d6;
    border: 1px solid #E0F2F1;
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
    margin-top: 5px;
    width: 1000px;
    height: 280px;
    margin-bottom: 50px;
}

.peringatan{
    background: #ffd6d6;
    border: 1px solid #E0F2F1;
    font-size: 14px;
    margin-top: 80px;
    width: 920px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}



/*BACK*/

.back-container {
    display: flex;
    justify-content: center;
    margin-top: 650px; /* Contoh margin atas */
  }
  
  .back-btn {
    background-color: #ff0095;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
/*footer*/
footer {
    background-color: #ffe6e6;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
  }
    